.teamMemberCard {
  height: 130px;
  width: 130px;
  border-radius: 10px; 
  background-color: white;
  overflow: hidden;
  position: relative;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.teamMemberCard span {
  text-align: center;
}