.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 200px 0 200px;
  align-items: center;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 200px 0 200px;
  align-items: center;
  flex-direction: column;
}

.gameContainer div {
  display: flex;
  margin-bottom: 20px;
}


.backButton {
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px;
}

.congratsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}